button {
  color: white;
  background-color: transparent;
  border: none;
  margin-inline: 1rem;
}

button:hover {
  color: rgb(255, 0, 30);
  transition: all 0.5s ease;
}

.button-border {
  border-radius: 15px;
  padding: 10px 35px;
  border: 2px solid transparent;
  box-shadow:
    0 0 5px rgb(0, 72, 255),
    0 0 10px rgb(0, 72, 255),
    0 0 20px rgb(0, 72, 255),
    0 0 40px rgb(0, 72, 255);
  transition: 0.3s ease;
}

.button-border:hover {
  color: white;
  border: 2px solid rgb(65, 141, 255);
  box-shadow:
    0 0 10px rgb(0, 72, 255),
    0 0 20px rgb(0, 72, 255),
    0 0 40px rgb(0, 72, 255),
    0 0 80px rgb(0, 72, 255);
  transform: scale(1.05);
}