<div class="container-log d-flex justify-content-center">
    <app-logo></app-logo>
  <div class="card mt-3 p-5 h-50">
    <h2>Login</h2>
    <p class="d-flex mb-0 justify-content-center">Enter your email and password to continue.</p>
    <form (ngSubmit)="onLogin()">
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Email"
        required
      />
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Contraseña"
        required
      />
      <div class="w-100 d-flex justify-content-end">
          <app-button [className]="'button-login'" type="submit" [textBtn]="'Log in'"></app-button>
      </div>
    </form>
    <p class="d-flex justify-content-center">Don't have an account? <a [routerLink]="'/register'"><b>. Sign up here.</b></a></p>
  </div>
  <p *ngIf="error()">{{ error()}}</p>
</div>
