.card {
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 15px;
}

img {
    border-radius: 15px 15px 0px 0px;
}

@media (max-width:768px) {
    img {
        width: 350px;
    }
    
}