.card {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(81, 80, 80);
  color: white;
}

a {
    padding: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
