.card {
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(81, 80, 80);
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
