header {
    margin-top: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    border-block: 1px solid gray;
}

ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

a {
    color: white;
    padding-inline: 40px;
    padding-block: 15px;
    border-inline: 1px solid gray;
    text-decoration: none;
}

.underline{
    border-bottom: 3px solid rgb(0, 72, 255);
}