.menu {
    width: 100%;
    border-block: 1px solid gray;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-block: 13px;
    margin: 0px;
}

a {
    color: white;
    padding-inline: 40px;
    padding-block: 15px;
    border-inline: 1px solid gray;
    text-decoration: none;
}

.underline{
    border-bottom: 3px solid rgb(0, 72, 255);
}