<div class="background">
  <div class="desktop justify-content-between p-3 mb-2">
    <app-social></app-social>
    <app-logo></app-logo>
    <app-login-buttons></app-login-buttons>
  </div>

  <div class="mobile">
    <app-logo></app-logo>
    <button class="burger" (click)="toogleMenu()" aria-label="Abrir menú">
      @if (!isMenuOpen) {
      <img src="assets/img/down-arrow.svg" alt="down-arrow" width="35" height="35">
      } @else {
      <img class="svg" src="assets/img/down-arrow.svg" alt="down-arrow" width="35" height="35">
      }
    </button>
  </div>

  <div class="menu">
    <ul>
      <li>
        <a routerLink="/" (click)="selectMenu('home')" [class.underline]="selectLink === 'home'">HOME</a>
      </li>
      <li>
        <a routerLink="/films" (click)="selectMenu('films')" [class.underline]="selectLink === 'films'">FILMS</a>
      </li>
    </ul>
  </div>
</div>

@if (isMenuOpen) {
<div class="menuBurger d-flex justify-content-center">
  <div class="login">
    <app-login-buttons></app-login-buttons>
  </div>
  <div class="social">
    <app-social></app-social>
  </div>
</div>
}